<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Record</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>
  {{HEADER}}

  <div id="alert-box" class="alert alert-danger d-none fw-bold fs-6" role="alert"></div>

  <div id="spinner" class="d-flex align-items-center justify-content-center gap-3 mx-auto position-absolute top-50 start-50 translate-middle">
    <p class="fw-bold fs-5 m-0">Loading</p>
    <div class="spinner-border text-primary" role="status"></div>
  </div>  

  <main id="main-container" class="mx-3 mt-5">
    <main class="shadow border rounded mt-5 mx-auto p-1" style="min-height: 500px; max-width: 1000px;">
      <h4 class="mt-2 ms-2 mb-0 c-fs-f-srp-h">Customer Details</h4>

      <div class="d-flex flex-wrap gap-2 gap-lg-3 p-2 overflow-auto">
        <p class="fs-5 m-0 me-2 c-fs-f-srp-p"><i class="fa-solid fa-user text-primary"></i> <span id="user-name"></span></p>
        <p class="fs-5 m-0 me-2 c-fs-f-srp-p"><i class="fa-solid fa-phone text-primary"></i> <span id="phone-number"></span></p>
        <p class="fs-5 m-0 me-2 c-fs-f-srp-p"><i class="fa-solid fa-location-dot text-primary"></i> <span id="address"></span></p>
        <p class="fs-5 m-0 me-2 c-fs-f-srp-p"> Pending Amount: <i class="ms-1 fa-sharp fa-solid text-success fa-indian-rupee-sign"></i> <span id="pending-amount"></span></p>
      </div>
      <hr class="m-0 border border-1 border-dark">

      <div class="ms-2 overflow-scroll" style="height: 65px;">
        <ul id="pagination-list" class="pagination mt-3 mb-0 text-nowrap"></ul>
      </div>

      <div class="d-flex">
        <div class="d-flex flex-wrap gap-2 gap-lg-3 p-2 overflow-auto">
          <p class="fs-5 m-0 me-2 c-fs-f-srp-p"><i class="fa-solid fa-cow text-primary"></i> <span id="cow-name-and "></span></p>
          <p class="fs-5 m-0 me-2 c-fs-f-srp-p"><i class="fa-solid fa-cow text-danger"></i> Danger Bull</p>
        </div>
      </div>

      <div id="table-container" class="table-responsive p-0 m-0 overflow-scroll c-max-h-f-srp-t">
        <table class="table table-bordered table-sm table-hover c-fs-f-srp-t">
          <thead>
            <tr class="text-nowrap position-sticky bg-white" style="top: -1px;">
              <th>Name</th>
              <th>Cost</th>
              <th>G-Amount</th>
              <th>P-Amount</th>     
              <th>Ai-Date</th> 
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>injection 1</td>
              <td>500</td>
              <td>100</td>
              <td>400</td>
              <td>12/02/2004</td>
            </tr>
            <tr>
              <td>injection 1</td>
              <td>500</td>
              <td>100</td>
              <td>400</td>
              <td>12/02/2004</td>
            </tr>
            <tr>
              <td>injection 1</td>
              <td>500</td>
              <td>100</td>
              <td>400</td>
              <td>12/02/2004</td>
            </tr>
            <tr>
              <td>injection 1</td>
              <td>500</td>
              <td>100</td>
              <td>400</td>
              <td>12/02/2004</td>
            </tr>
            <tr>
              <td>injection 1</td>
              <td>500</td>
              <td>100</td>
              <td>400</td>
              <td>12/02/2004</td>
            </tr>
            <tr>
              <td>injection 1</td>
              <td>500</td>
              <td>100</td>
              <td>400</td>
              <td>12/02/2004</td>
            </tr>
            <tr>
              <td>injection 1</td>
              <td>500</td>
              <td>100</td>
              <td>400</td>
              <td>12/02/2004</td>
            </tr>
            <tr>
              <td>injection 1</td>
              <td>500</td>
              <td>100</td>
              <td>400</td>
              <td>12/02/2004</td>
            </tr>
            <tr>
              <td>injection 1</td>
              <td>500</td>
              <td>100</td>
              <td>400</td>
              <td>12/02/2004</td>
            </tr>
            <tr>
              <td>injection 1</td>
              <td>500</td>
              <td>100</td>
              <td>400</td>
              <td>12/02/2004</td>
            </tr>
            <tr class="table-row">
              <td>injection 1</td>
              <td>500</td>
              <td>100</td>
              <td>400</td>
              <td>12/02/2004</td>
            </tr>

          </tbody>
        </table>
      </div>
      <hr class="m-0 border border-1 border-dark c-d-none">

      <div class="d-flex px-1 py-2 gap-2 gap-sm-3 mt-1 flex-wrap">
        <div class="btn-group dropdown dropup c-w-f-srp-b">
          <button class="btn btn-primary dropdown-toggle ms-0 p-2 fw-bold c-fs-f-srp-b" data-bs-toggle="dropdown" >Actions For User </button>
          <ul class="dropdown-menu" style="width: 100%; min-width: 0px;">
            <li class="mx-auto mb-2 text-success c-fs-f-srp-p m-0" style="width: 90%;" data-bs-toggle="modal" data-bs-target="#update-user-record-modal">Edit</li>
            <li class="mx-auto mb-2 text-danger c-fs-f-srp-p m-0" style="width: 90%;" data-bs-toggle="modal" data-bs-target="#delete-user-record-modal">Delete</li>
          </ul>
        </div>

        <div class="btn-group dropdown dropup c-w-f-srp-b">
          <button class="btn btn-primary dropdown-toggle ms-0 p-2 fw-bold c-fs-f-srp-b" data-bs-toggle="dropdown" >Actions For Cow </button>
          <ul class="dropdown-menu" style="width: 100%; min-width: 0px;">
            <li class="mx-auto mb-2 text-success c-fs-f-srp-p m-0" style="width: 90%;" data-bs-toggle="modal" data-bs-target="#update-cow-record-modal">Edit</li>
            <li class="mx-auto mb-2 text-danger c-fs-f-srp-p m-0" style="width: 90%;" data-bs-toggle="modal" data-bs-target="#delete-cow-record-modal">Delete</li>
          </ul>
        </div>  
    </div>

    <!-- Update user record modal -->
    <div id="update-user-record-modal" class="modal fade shadow">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded mx-2 p-2" style="min-height: 300px;">
          <div class="d-flex justify-content-between align-items-center w-100">
            <h3 class="c-fs-f-srp-h text-center m-0 w-100 modal-title">Update User Record</h3>
            <button type="button" style="width: 30px;" class="btn-close" data-bs-dismiss="modal"></button>  
          </div>  

          <form id="update-user-record-form" class="mx-2">
            <div class="d-flex flex-column mt-3 mb-3" style="height: 60px;">
              <input id="name" type="text" class="form-control form-control-lg border-2" placeholder="Name ....">
              <div class="invalid-feedback mt-0 fw-bold"></div>
            </div>  
            
            <div class="d-flex flex-column mb-3" style="height: 60px;">
              <input id="phone-number" type="text" class="form-control form-control-lg border-2" placeholder="Phone Number ....">
              <div class="invalid-feedback mt-0 fw-bold"></div>
            </div> 
  
            <div class="d-flex flex-column mb-3" style="height: 60px;">
              <input id="address" type="text" class="form-control form-control-lg border-2" placeholder="Address ....">
              <div class="invalid-feedback mt-0 fw-bold"></div>
            </div> 
            
            <div class="d-flex gap-2 flex-wrap">
              <button type="button" class="btn border-success btn-hover-success text-success p-2 fw-bold c-w-f-srp-b">Update</button>
              <button type="reset" class="btn border-danger btn-hover-danger text-danger p-2 fw-bold c-w-f-srp-b">Clear</button>  
              <button type="button" class="btn border-danger btn-hover-danger text-danger p-2 fw-bold c-w-f-srp-b" data-bs-dismiss="modal">Go Back</button>  
            </div>

            <p id="update-message" class="fw-bold text-success mt-2 mb-0"></p>
          </form>
        </div>
      </div>
    </div>

     <!-- Update cow record modal -->
     <div id="update-cow-record-modal" class="modal fade shadow">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded mx-2 p-2" style="min-height: 300px;">
          <div class="d-flex justify-content-between align-items-center w-100">
            <h3 class="c-fs-f-srp-h text-center m-0 w-100 modal-title">Update Cow Record</h3>
            <button type="button" style="width: 30px;" class="btn-close" data-bs-dismiss="modal"></button>  
          </div>  

          <form id="update-user-record-form" class="mx-2">
            <div class="d-flex flex-column mt-3 mb-3" style="height: 60px;">
              <input id="name" type="text" class="form-control form-control-lg border-2" placeholder="Cow Name ....">
              <div class="invalid-feedback mt-0 fw-bold"></div>
            </div>  
            
            <div class="d-flex flex-column mb-3" style="height: 60px;">
              <input id="breed" type="text" class="form-control form-control-lg border-2" placeholder="Breed ....">
              <div class="invalid-feedback mt-0 fw-bold"></div>
            </div> 
  
            <div class="d-flex flex-column mb-3" style="height: 60px;">
              <input id="bull-name" type="text" class="form-control form-control-lg border-2" placeholder="Bull Name ....">
              <div class="invalid-feedback mt-0 fw-bold"></div>
            </div> 
            
            <div class="d-flex gap-2 flex-wrap">
              <button type="button" class="btn border-success btn-hover-success text-success p-2 fw-bold c-w-f-srp-b">Update</button>
              <button type="reset" class="btn border-danger btn-hover-danger text-danger p-2 fw-bold c-w-f-srp-b">Clear</button>  
              <button type="button" class="btn border-danger btn-hover-danger text-danger p-2 fw-bold c-w-f-srp-b" data-bs-dismiss="modal">Go Back</button>  
            </div>
            
            <p id="update-message" class="fw-bold text-success mt-2 mb-0"></p>
          </form>
        </div>
      </div>
    </div>   

     <!-- Delete user record modal -->
     <div id="delete-user-record-modal" class="modal fade shadow">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded mx-2 p-2" style="min-height: 200px;">
          <div class="d-flex justify-content-between align-items-center w-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="ms-2" width="24" height="24" fill="red" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <h3 class="c-fs-f-srp-h text-center m-0 w-100 modal-title">Delete Record</h3>
            <button type="button" style="width: 30px;" class="btn-close" data-bs-dismiss="modal"></button>  
          </div>  
          <p class="text-secondary fs-5 p-2 m-0">Are you sure you want to delete this user record? This action cannot be undone and will permanently remove the entire record.</p>
          <div class="d-flex gap-2 me-2 flex-wrap justify-content-end">
            <p class="text-success m-0 p-2 c-fs-f-srp-p">Ok</p>
            <p class="text-danger m-0 p-2 c-fs-f-srp-p" data-bs-dismiss="modal">Cancel</p>  
          </div>
        </div>
      </div>
    </div>   

    <!-- Custom popup menu -->
    <div id="popup-menu" class="d-flex p-2 gap-2 flex-column position-absolute rounded border bg-white d-none c-fs-f-srp-p" style="min-width: 100px; z-index: 1000;">
      <p class="m-0 text-success cursor-pointer">Edit</p>
      <p class="m-0 text-danger cursor-pointer">Delete</p>
    </div>
  </main>
  <script src="/js/record.js" type="module"></script>
</body>
</html>
