.outline-none {
  outline: none !important;
}

.border-none {
  border: none !important;
}   

/* custom font size for show record page heading */
.c-fs-f-srp-h {
  font-size: 20px;
}

/* custom font size for show record page paragraph */
.c-fs-f-srp-p {
  font-size: 17px !important;
}

/* custom font size for show record page table */
.c-fs-f-srp-t {
  font-size: 13px;
}

/* custom heigh for show record page table hight */
.c-max-h-f-srp-t {
  min-height: 300px;
  max-height: 300px;
}

/* custom font size for show record page buttons */
.c-fs-f-srp-b {
  font-size: 13px;
}

/* header components style */
.header {
  height: 4rem;
  background-color: #103cbe;
}

#toggle-menu a {
  color: rgb(252, 252, 252);
  text-decoration: none;
  font-weight: 550;
}

.header .logo {
  height: 3rem;
  width: 3rem;
}

.header .logo > img {
  height: 100%;
  width: 100%;
}

.cursor-pointer {
  cursor:  pointer !important;
}

.btn-hover-success:hover {
  background-color: #198754;
  color: white !important;
}

.btn-hover-danger:hover {
  background-color: #dc3545;
  color: white !important;
}

/* style="width: 200px; top: 4rem; right: 0;" */


@media screen and (max-width: 991px) {
  #toggle-menu {
    position: absolute;
    top: 4rem;
    right: 0;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.485);
  }

  #toggle-menu a {
    color: black;
    font-weight: 550;
    text-align: left;
    padding-left: 25%;
  }
}

@media  screen and (min-width: 500px) {
  .c-fs-f-srp-h {
    font-size: x-large;
  }

  .c-fs-f-srp-p {
    font-size: 20px !important;
  }

  .c-max-h-f-srp-t {
    max-height: 350px !important;
  }

}

@media screen and (min-width: 560px) {
  .c-fs-f-srp-t {
    font-size: 20px;
  }
}


@media screen and (min-width: 370px) {
  .c-fs-f-srp-b {
    font-size: 15px;
  }
}


@media screen and (max-width: 301px) {
  .c-w-f-srp-b {
    width: 100% !important;
  }
}

@media screen and (max-width: 349px) {
  .c-d-none {
    display: none;
  }
}